@model UserPasswordUpdateDto
@{
    ViewData["Template"] = "Template2";
}
<div class="card-body custom-padding">
    <form asp-controller="userpanel" asp-action="UpdatePassword" method="post" class="form-safety">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card-step">
                    <h3 class="step-title upper">CARİ ŞİFRƏ</h3>
                    <div role="group" class="input-group search">
                        <input asp-for="Password" id="currentPass" type="password"
                               placeholder="Şifrə" required="required"
                               aria-required="true" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info"
                                    id="eyeBtn">
                                <i class="far fa-eye-slash"></i>
                            </button>
                        </div>
                        <span class="text-danger" asp-validation-for="Password"></span>

                    </div>
                </div>
                <div class="card-step custom-card-step">
                    <h3 class="step-title upper">YENİ ŞİFRƏ</h3>
                    <input asp-for="NewPassword" id="newPass" type="password" placeholder="Şifrə"
                           required="required" aria-required="true"
                           class="form-control" aria-autocomplete="list">
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <input asp-for="ConfirmPassword" id="newPassRepeat" type="password"
                           placeholder="Təkrar şifrə" required="required"
                           aria-required="true" class="form-control">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit"
                        class="btn btn-submit btn-primary ">
                    <span>
                        Yadda saxla
                    </span>
                </button>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-password-info h100">
                    <div class="text-center">
                        <img src="~/assets2//images//safety.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>