<div style="text-align: center; margin: 100px auto;">
    <h1>Successfully paid</h1>
    <a asp-controller="basket" asp-action="index" class="btn btn-primary">Sebete qayid</a>
    <a asp-controller="home" asp-action="index" class="btn btn-secondary">ana sehife</a>
</div>
