 <!-- Middle Sections -->
<div>
    <!-- Middle Section -->
    <div class="middlecontainer">
        <!-- Order Plans -->
        <div class="order-main-pg">
            <div class="row order-card-main-row">
                <div class="col-lg-9 col-12">
                    <div>
                        <div id="exTab2" class="container">
                            <ul class="nav nav-tabs">
                                <li class="nav-tabs-head-list nav-tabs-active active">
                                    <img src="https://limak.az/new_front/assets/img/dashboard/icons/tr-circle.svg" alt="">
                                    <a class="tabs-head" href="#1" data-toggle="tab">Türkiyə</a>
                                </li>
                                <li class="nav-tabs-head-list">
                                    <img src="https://limak.az/new_front/assets/img/dashboard/icons/usa-circle.svg" alt="">
                                    <a class="tabs-head" href="#2" data-toggle="tab">Amerika</a>
                                </li>
                            </ul>
                            <div class="tab-content ">
                                <!-- TURKEY ORDER LIST -->
                                <div class="tab-pane d-flex" id="1">
                                    <form action="" class="tr-form d-flex">
                                        <div class="ordercard-list tukish active">
                                            <div class="order-card-body order-turkish active">
                                                <div class="form-ordercard">
                                                    <div class="row">
                                                        <div class="col-sm-9 col-12">
                                                            <div>
                                                                <label class="form-control-label" for="product-link">Məhsulun linki *</label>
                                                                <div class="url-input-block">
                                                                    <input type="url" placeholder="Məhsulun linki"
                                                                           required="required" class="form-control-url">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 col-12">
                                                            <div id="product-price">
                                                                <label for="product-price" class="form-control-label-custom">Məbləğ *</label>
                                                                <div>
                                                                    <div class="input-price-group">
                                                                        <input class="price-input product-priceTr" type="number" min="1" required="required">
                                                                        <div class="input-group-append">
                                                                            <div class="input-group-price-curency">TRY</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-12">
                                                            <div class="check-group-label">
                                                                <label class="form-control-label-custom" for="check-label-head">Türkiyə içi kargo</label>
                                                                <div class="input-radio-group">
                                                                    <div class="check-custom check-custom-radio">
                                                                        <input type="radio" id="check-kargo-radio" value="true" name="some-radios" class="custom-control-input">
                                                                        <label class="radio-label" for="check-kargo-radio">Bəli</label>
                                                                    </div>
                                                                    <div class="check-custom check-custom-radio">
                                                                        <input type="radio" id="check-kargo-radio-not"
                                                                               value="false" name="some-radios"
                                                                               checked
                                                                               class="custom-control-input">
                                                                        <label class="radio-label" for="check-kargo-radio-not">Xeyr</label>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 col-12">
                                                            <div id="product-kargo-price" class="kargo-daxil-price">
                                                                <label class="form-control-label-custom"
                                                                       for="product-kargo-price">Karqo məbləği *</label>
                                                                <div>
                                                                    <div class="input-price-group">
                                                                        <input class="price-input" placeholder="0"
                                                                               id="olke-daxili-kargo"
                                                                               type="number"
                                                                               min="1" required="required" disabled>
                                                                        <div class="input-group-append">
                                                                            <div class="input-group-price-curency">TRY</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 col-12">
                                                            <div id="product-kargo-price" class="kargo-daxil-price">
                                                                <label class="form-control-label-custom"
                                                                       for="product-kargo-price">Cəmi(+5%)</label>
                                                                <div>
                                                                    <div class="input-price-group">
                                                                        <input class="price-input product-price-percentTr" placeholder="0"
                                                                               type="number"
                                                                               min="1" required="required" disabled>
                                                                        <div class="input-group-append">
                                                                            <div class="input-group-price-curency">TRY</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-12">
                                                            <div id="product-count" class="product-count-block">
                                                                <label for="product-count"
                                                                       class="form-control-label-custom">Say</label>
                                                                <div class="product-count-input-body">
                                                                    <input type="number" min="1"
                                                                           placeholder="Say"
                                                                           value="1"
                                                                           class="product-count-input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-12">
                                                            <div id="product-count" class="product-count-block">
                                                                <label for="product-count"
                                                                       class="form-control-label-custom">Məhsulun rəngi *</label>
                                                                <div class="product-count-input-body">
                                                                    <input type="text"
                                                                           placeholder="Məhsulun rəngi"
                                                                           class="product-count-input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-12">
                                                            <div id="product-count" class="product-count-block">
                                                                <label for="product-count"
                                                                       class="form-control-label-custom">Məhsulun ölçüsü *</label>
                                                                <div class="product-count-input-body">
                                                                    <input type="text"
                                                                           placeholder="Məhsulun ölçüsü"
                                                                           class="product-count-input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div id="product-desc">
                                                                <label class="form-control-label-custom"
                                                                       for="product-desc">Qeydlər</label>
                                                                <div>
                                                                    <input type="text"
                                                                           placeholder="Ölçü, rəng və s. üçün qeydlər"
                                                                           required="required"
                                                                           class="desc-control-input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="order-card-actions">
                                                        <div></div>
                                                        <div>
                                                            <button type="button" class="link-button">
                                                                <img src="https://limak.az/new_front/assets/img/icons/plus-circle.svg" alt="">
                                                                <span>Yeni link</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="tab-content right-bar-payment">
                                                <div class="sidebar">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="ordercard-payment">
                                                                <div class="payment-group">
                                                                    <div class="check-custom-payment">
                                                                        <input type="radio" name="payment-radio" id="sidebar-payment"
                                                                               class="custom-payment-input" value="1">
                                                                        <label for="sidebar-payment" class="custom-control-label">
                                                                            <h4>Kart ilə ödəniş</h4>
                                                                            <p>İstənilən kredit və ya debet kartı ödəniş edə bilərsiniz</p>
                                                                        </label>
                                                                    </div>
                                                                    <div class="check-custom-payment check-payment-usd">
                                                                        <input type="radio" name="payment-radio"
                                                                               class="custom-payment-input" value="2">
                                                                        <label for="" class="custom-control-label">
                                                                            <h4>TRY balansı ilə ödəniş</h4>
                                                                            <p>
                                                                                TRY balansınızda kifayət qədər vəsait varsa, ödəniş edə bilərsiniz
                                                                                TRY balansınız: <b>0.00TRY</b>
                                                                            </p>
                                                                        </label>
                                                                    </div>
                                                                    <div class="check-custom-payment check-payment-usd">
                                                                        <input type="radio" name="payment-radio"
                                                                               class="custom-payment-input" value="3">
                                                                        <label for="" class="custom-control-label">
                                                                            <h4>Birkart ilə ödə</h4>
                                                                            <p>İstədiyin məhsulu seç, birkart ilə 3 aya ödə</p>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="payment-total">
                                                                    <span>Cəmi:</span>
                                                                    <strong class="payment-total-price">0</strong>
                                                                </div>
                                                                <div class="form-payment-checkbox">
                                                                    <input class="checkbox-terms-input" type="checkbox" id="checkbox-terms" value="true">
                                                                    <label for="checkbox-terms">
                                                                        <a role="button">Məsafəli satış şərtləri</a>
                                                                    </label>
                                                                </div>
                                                                <select class="sidebar-depo-select">
                                                                    <option disabled="disabled"> -- Anbar seçin --</option>
                                                                    <option value="1">Bakı - İçərişəhər</option>
                                                                    <option value="2">Gəncə</option>
                                                                    <option value="3">Sumqayıt</option>
                                                                    <option value="4">Zaqatala</option>
                                                                    <option value="5">Bakı - Xalqlar Dostluğu</option>
                                                                    <option value="7">Xırdalan</option>
                                                                    <option value="8">Balakən</option>
                                                                    <option value="9">Bakı - Gənclik</option>
                                                                    <option value="10">Bakıxanov</option>
                                                                    <option value="11">Xətai</option>
                                                                </select>
                                                                <button type="button" disabled="disabled"
                                                                        class="payment-btn">
                                                                    ÖDƏNİŞ ET
                                                                </button>
                                                                <div class="payment">
                                                                    <span class="desc">və ya səbətə gedin</span>
                                                                    <div class="badgeBtn-body">
                                                                        <a href="#" target="_self" class="badgetBtn ">
                                                                            <div class="d-flex align-items-center gap-2 justify-content-center">
                                                                                SƏBƏTƏ GET
                                                                                <span class="badge badge-warning">1</span>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="extraTabContent"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
