@model TariffUpdateDto

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Yenilə
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <input asp-for="CountryId" type="hidden" value="@ViewData["CountryId"]" />

                <div class="form-group">
                    <label asp-for="MinValue">Minimal çəki</label>
                    <input step="0.001" class="form-control" type="number" required asp-for="MinValue" placeholder="Dəyər daxil edin">
                    <span asp-validation-for="MinValue" class="text-danger"></span>
                </div>
                <hr />

                <div class="form-group">
                    <label asp-for="MaxValue">Maximal çəki</label>
                    <input step="0.001" class="form-control" type="number" required asp-for="MaxValue" placeholder="Dəyər daxil edin">
                    <span asp-validation-for="MaxValue" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MaxValue">Qiymət(Azn)</label>
                    <input step="0.001" class="form-control" type="number" required asp-for="Price" placeholder="Dəyər daxil edin">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Yenilə</button>

                <a class="btn btn-light" asp-action="Index" asp-route-countryId="@ViewData["CountryId"]">Ləğv et</a>

            </form>
        </div>
    </div>
</div>



<script>
    document.querySelector('form').addEventListener('submit', function () {
        const inputs = document.querySelectorAll('input[type="number"]');
        inputs.forEach(input => {
            input.value = input.value.replace(',', '.');
        });
    });
</script>