@model string
<div style="text-align: center; margin: 100px auto;">
    <h1>Email Verified Successfully!</h1>
    <p>Your email has been successfully verified @Model. You can now log in.</p>
    <a asp-controller="home" asp-action="index" class="btn btn-primary">Go to Home</a>
</div>
