@inject AccountLocalizer _localizer;
<div style="text-align: center; margin: 100px auto;">
    <h1 class="text-danger font-weight-bold">@_localizer.GetValue("EmailVerificationFailure")</h1>
    <p>@_localizer.GetValue("EmailVerificationFailureMessage")</p>
    <a asp-controller="home" asp-action="index" class="btn btn-primary">@_localizer.GetValue("GoToHome")</a>
</div>
