
@inject AccountLocalizer _localizer;
<div style="text-align: center; margin: 100px auto;">
    <h1>@_localizer.GetValue("EmailVerificationSuccess")</h1>
    <p>@_localizer.GetValue("EmailVerificationSuccessMessage")</p>
    <a asp-controller="home" asp-action="index" class="btn btn-primary">@_localizer.GetValue("GoToHome")</a>
</div>
