
@inject AccountLocalizer _localizer;

<div class="main-middle-content">

    <!-- Middle Sections -->
    <div>
        <!-- Middle Section -->
        <div class="middlecontainer">
            <!-- Tariff Plans -->
            <div class="recovery-main-pg">
                <div class="recovery-block password-block">
                    <div class="recovery-head">
                        <div>
                            <h4>@_localizer.GetValue("PasswordRecovery")</h4>
                        </div>
                        <ol class="recovery-breadcamp">
                            <li>
                                <a asp-controller="home" asp-action="index">@_localizer.GetValue("Home")</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            <li>
                                <span>@_localizer.GetValue("ForgotPassword")</span>
                            </li>
                        </ol>
                    </div>
                    <div class="password-block-body">
                        <div class="password-card">
                            <div class="row">
                                <div class="col-md-12 col-12" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                                    <div class="password-card-header" style="margin:150px; display: flex; flex-direction: column; align-items: center;">
                                        <img src="https://limak.az/new_front/assets/img/icons/lock.svg" alt="" style="width: 60px; height: 60px; margin-bottom: 10px;">
                                        <h3 class="text-info text-warning" style="font-size: 18px; font-weight: bold;">@_localizer.GetValue("CheckEmail")</h3>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>