    
<div class="main-middle-content">

    <!-- Middle Sections -->
    <div>
        <!-- Middle Section -->
        <div class="middlecontainer">
            <!-- Tariff Plans -->
            <div class="news-list">
                <div class="news-details-block">
                    <div class="news-details-head">
                        <div>
                            <h4>Xəbərlər və yeniliklər</h4>
                        </div>
                        <ol class="news-details-breadcamp">
                            <li>
                                <a href="#">Ana səhifə</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Xəbərlər</span>
                            </li>
                        </ol>
                    </div>
                    <div class="row news-details-row">
                        <div class="details-row col-md-8 col-12">
                            <article class="card news-card-details">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg" alt="">
                                <div class="news-card-body">
                                    <h4 class="news-card-title">Yeni İliniz Mübarək</h4>
                                    <p class="card-text">
                                    <p class="news-card-text">
                                        <span>
                                            Limak.az ailəsi olaraq xalqımızı 31 dekabr Dünya azərbaycanlılarının həmrəylik günü və
                                            qarşıdan gələn Yeni il bayramı münasibətilə təbrik edirik!
                                        </span>
                                    </p>
                                    <p class="news-card-text">
                                        <span>
                                            Bayram günlərində də onlayn alış-veriş edərək endirim fürsətlərini dəyərləndirin.
                                            Amerika və Türkiyədən sifarişləriniz Limak.az vasitəsilə sizə ən qısa zamanda sürətlə çatdırılacaq.
                                            Trendyol sifarişlərinizin Azərbaycana birbaşa çatdırılmasını da həyata keçiririk.
                                        </span>
                                    </p>
                                    <p class="news-card-text">
                                        <span>
                                            Bağlamalarınızı filiallardan, sizə ən yaxın kargomtlardan və kuryerlərimiz vasitəsilə təhvil ala bilərsiniz.
                                        </span>
                                    </p>
                                    <span class="card-text-last">📌 Uzağı yaxın etdik!</span>
                                    </p>
                                    <div class="news-details-footer">
                                        <p class="news-card-date">
                                            <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                            <span>2023-12-29 11:50:10</span>
                                        </p>
                                        <div class="news-details-share">
                                            <a class="news-details-share-button" href="https://www.instagram.com/limak.az/">
                                                <img src="https://limak.az/new_front//assets/img/icons/facebook.svg" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="https://www.instagram.com/limak.az/">
                                                <img src="https://limak.az/new_front//assets/img/icons/instagram.svg" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="https://www.instagram.com/limak.az/">
                                                <img src="https://limak.az/front/new/img/telegram.png" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="https://www.instagram.com/limak.az/">
                                                <img src="https://limak.az/new_front//assets/img/icons/youtube.svg" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="https://www.instagram.com/limak.az/">
                                                <img src="https://limak.az/new_front//assets/img/icons/tik-tok.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <div class="backBtnBlock">
                                <i class="fa-solid fa-angle-left"></i>
                                <a href="#" class="backBtn">GERİ</a>
                            </div>

                        </div>
                        <div class="details-row col-md-4 col-12">
                            <div class="news-sidebar">
                                <div class="card">
                                    <div class="sidebar-head">
                                        <h3 class="sidebar-head-text">DİGƏR XƏBƏRLƏR</h3>
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </div>
                                    <div class="sidebar-card-list">
                                        <a href="#" class="news-card">
                                            <div class="news-side-bar-article">
                                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                                     class="card-img-left" alt="">
                                                <div class="news-sidebar-article-body">
                                                    <h4 class="card-title">Yeni il bayramınız m...</h4>
                                                    <p class="news-card-date-sidebar">
                                                        <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                                        <span>2023-12-29 11:50:21</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="news-card">
                                            <div class="news-side-bar-article">
                                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                                     class="card-img-left" alt="">
                                                <div class="news-sidebar-article-body">
                                                    <h4 class="card-title">Yeni il bayramınız m...</h4>
                                                    <p class="news-card-date-sidebar">
                                                        <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                                        <span>2023-12-29 11:50:21</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="news-card">
                                            <div class="news-side-bar-article">
                                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                                     class="card-img-left" alt="">
                                                <div class="news-sidebar-article-body">
                                                    <h4 class="card-title">Yeni il bayramınız m...</h4>
                                                    <p class="news-card-date-sidebar">
                                                        <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                                        <span>2023-12-29 11:50:21</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="news-card">
                                            <div class="news-side-bar-article">
                                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                                     class="card-img-left" alt="">
                                                <div class="news-sidebar-article-body">
                                                    <h4 class="card-title">Yeni il bayramınız m...</h4>
                                                    <p class="news-card-date-sidebar">
                                                        <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                                        <span>2023-12-29 11:50:21</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="news-card">
                                            <div class="news-side-bar-article">
                                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                                     class="card-img-left" alt="">
                                                <div class="news-sidebar-article-body">
                                                    <h4 class="card-title">Yeni il bayramınız m...</h4>
                                                    <p class="news-card-date-sidebar">
                                                        <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                                        <span>2023-12-29 11:50:21</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="news-card">
                                            <div class="news-side-bar-article">
                                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                                     class="card-img-left" alt="">
                                                <div class="news-sidebar-article-body">
                                                    <h4 class="card-title">Yeni il bayramınız m...</h4>
                                                    <p class="news-card-date-sidebar">
                                                        <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                                        <span>2023-12-29 11:50:21</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
