  <!-- Main Start -->
  <style>
    /* Default style for nav-link */
    .nav-link {
        font-weight: normal; /* Normal weight */
        color: black; /* Default text color */
        transition: color 0.3s, font-weight 0.3s; /* Smooth transitions */
    }

        /* Style for active nav-link */
        .nav-link.active {
            font-weight: bold; /* Bold text */
            color: gray; /* Gray color for active links */
            background-color: transparent; /* Ensure no background interference */
            border: none; /* Remove any border effects if applied by Bootstrap */
        }

  </style>
<main id="main"
      style="background: url('@Url.Content("~/assets2/images/limak_bg.jpg")') no-repeat; background-size: 100%; background-position: top center;"
      class="bg-full">
    <div class="main-container">
        <!-- Currency -->
        <div class="shop">
            <div class="block">
                <div class="block-header">
                    <h2 class="block-title">MAĞAZALAR</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Ana səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>Mağazalar</span>
                        </li>
                    </ul>
                </div>
                <div class="block-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 col-12">
                            <div class="card card-sidebar">
                                <ul class="nav flex-column">
                                    <li class="nav-item" data-target-item="all">
                                        <a href="#" class="nav-link active">
                                            <img src="https://res.cloudinary.com/dsclrbdnp/image/upload/v1735604470/LimakAz/yum7v6w5cs7n3hkyd7cw.png" alt="All Categories" style="width:18px; height:18px; margin-right:8px;">
                                            Bütün kateqoriyalar
                                        </a>
                                    </li>
                                    <li class="nav-item" data-target-item="clothes">
                                        <a href="#" class="nav-link">
                                            @* <img src="path/to/clothes-icon.png" alt="Clothes" style="width:18px; height:18px; margin-right:8px;"> *@
                                            Geyim
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-9 col-12">
                            <div>
                                <ul id="headerList" class="nav nav nav-tabs card-tabs-nav">
                                    <li class="nav-item">
                                        <a data-target="1" href="#" class="nav-link active">
                                            <img src="~/assets2/images/tr-circle.svg" alt=""
                                                 class="card-tabs-nav-icon">
                                            <span class="card-tabs-nav-title">
                                                Türkiyə
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item card-tabs">
                                        <a data-target="2" href="#" class="nav-link">
                                            <img src="~/assets2/images/usa-circle.svg" alt=""
                                                 class="card-tabs-nav-icon">
                                            <span class="card-tabs-nav-title">Amerika</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="store-list">
                                <div data-id="1" class="active active-tab tab-pane">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 col-6 item-box" data-item="electronic">
                                            <a href=" http://limak.link/r?url=https://odakpazar.com/"
                                               target="_blank" class="store-item">
                                                <article class="card">
                                                    <img src="https://limakaz.com/storage/shops/422.png"
                                                         alt="Odak Pazar-dən çatdırılma" class="card-img"
                                                         style="width: 70%;">
                                                </article>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main End -->

